@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


:root {
    --cor-principal: white;
    --cor-botao:#EA047E;
    --cor-planodefundo: #15B392;
    --cor-caixa:#254336;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-planodefundo);
    font-family: dosis;
    color: var(--cor-principal);
    box-sizing: content-box;
}

.cabecalho {
    font-family: "Dosis", system-ui;
    font-size: 1.875rem;
    font-weight: 600;
    font-style: normal;

    display: flex;
    gap: 10px;

    margin-top: 3.125rem;
    margin-left: 18.75rem;

}

.conteudo {
    background-color: var(--cor-caixa);
    margin: 6.25rem 0px 18.75rem 21.875rem;
    padding: 1.875rem 3.75rem 1.875rem 3.75rem;
    border-radius: 1.875rem 1.875rem 1.875rem 0 ;
    width: 30%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
}

.conteudo__titulo {
    font-size: 3.125rem;
    text-align: left;
}

.conteudo__caixas {
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    overflow: visible;
}

#caixa__email {
    height: 3.125rem;
    width: 50%;
    background-color: transparent;
    color: var(--cor-principal);
}

.botao__download {
    background-color: var(--cor-botao);
    width: 30%;
    padding: 1rem 2.5rem;
    border-radius: 1.875rem 0px 1.875rem 1.875rem;
    text-align: center; 
    font-size: 1.25rem;

}

a {
    text-decoration: none;
    color: var(--cor-principal);
}

.imagem-fundo {
    background-image: url('./assets/ebook.png'); /*Foi necessário criar uma div para colocar ela dentro*/
    background-size: contain; /* Ajusta a imagem ao tamanho do elemento, colocando o contain permanece a imagem completa */
    background-position: right; /* Centraliza a imagem */
    background-repeat: no-repeat;
    position: absolute; /* Permite que a imagem seja posicionada em relação à caixa */
    top: 90px; /* Move a imagem para cima */
    left: 50%;
    width: 50%; /* Largura total da caixa */
    height: 50%; /* Altura total da caixa */
    z-index: -1; /* Coloca a imagem atrás da caixa */
}
